[
  {kernel,
    [ {logger_level, debug},
      {logger,
         [
           { handler,
             default,
             logger_std_h,
             #{
               filters => [
               {skip_progress_info, {fun logger_filters:progress/2, stop}}],
               config => #{file => "./logs/smoker.log"}
             }
           },
           { handler,
             default_err,
             logger_std_h,
             #{
               level => error,
               config => #{file => "./logs/smoker_err.log"}
             }
           }
         ]
      }
    ]
  }
].
